################################################################################
#
# Ignore all dot-files and dot-folders, except .gitignore
#
################################################################################

.*
!/.gitignore

################################################################################
#
# Composer
#
################################################################################

/vendor/
